.product {

	padding-top: 67px; padding-bottom: 40px;

	@include _768 {
		padding-bottom: 80px;
	}

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	// .product__header

	&__header {
		display: flex;
		flex-direction: column-reverse;
		flex: 1 1 100%;

		padding-bottom: 60px;
		@include _992 {
			padding-bottom: 60px;
			flex-direction: row;
		}
	}

	// .product__title

	&__title {
		color: var(--primary-color-1);
		padding-top: 15px;
		@include _992 {
			padding-top: 0;
		}
	}

	// .product__rating

	&__rating {
		display: flex;
		justify-content: flex-start;

		&[data-rating="5"] li:nth-child(-n + 5) {
			fill: var(--accent);
		}

		&[data-rating="4"] li:nth-child(-n + 4) {
			fill: var(--accent);
		}

		&[data-rating="3"] li:nth-child(-n + 3) {
			fill: var(--accent);
		}

		&[data-rating="2"] li:nth-child(-n + 2) {
			fill: var(--accent);
		}

		&[data-rating="1"] li:nth-child(-n + 1) {
			fill: var(--accent);
		}
		& ul {
			display: flex;
			flex-direction: row-reverse;

			& li {
				fill: var(--primary-color-1);

				& svg {
					width: 37px; height: 37px;
				}
			}
		}
	}

	// .product__image

	&__image {
		width: 100%;
		@include _992 {
			flex: 0 1 50%; width: 50%;
		}
		@media (min-width: 1200px) {
			flex: 0 1 45%; width: 45%;
		}

		// .product__image--main

		&--main {
		}

		// .product__image--main-slide

		&--main-slide {
		}

		// .product__image--slide-body

		&--slide-body {
			width: 100%; padding-top: 106.818182%;
			position: relative;

			& img {
				position: absolute;
				left: 50%; top: 50%;
				transform: translate(-50%,-50%);
				width: calc(100% - 25px); height: calc(100% - 25px);
				object-fit: contain;
			}
		}

		// .product__image--nav

		&--nav {
		}

		// .product__image--arrow

		&--arrow {
			background: transparent;
			transition: opacity .3s ease;
			fill: var(--primary-color-1);
			&::after {
				display: none;
			}

			&:hover {
				fill: var(--primary-color-1-hover);
			}
			
			&:active {
				fill: var(--primary-color-1-active);
			}

			& svg {
				width: 31px; height: 64px;
				transition: fill .3s ease;
			}
		}

		// .product__image--list

		&--list {
			display: none;
			@include _768 {
				display: block;
			}
		}

		// .product__image--list-slide

		&--list-slide {
			cursor: pointer;
			border: 3px solid transparent;
			transition: border-color .3s ease;
			&.swiper-slide-thumb-active {
				border-color: var(--primary-color-1);
			}
		}
	}

	// .product__info

	&__info {
		width: 100%;
		padding: 50px 0 0 0;
		@media (min-width: 375px) {
			padding: 50px 0 0 0;
		}

		@include _768 {
			padding: 50px 0 0 0;
		}

		@include _992 {
			flex: 0 1 50%; width: 50%;
			padding: 90px 0 0 20px;
		}
		
		@media (min-width: 1200px) {
			flex: 0 1 55%; width: 55%;
			padding: 0 0 0 100px;
		}

	}

	// .product__descr

	&__descr {

		// .product__descr--title

		&--title {
			color: var(--primary-color-1);
		}

		// .product__descr--text

		&--text {
			padding-top: 7px;
			@include _768 {
				padding-top: 17px;
			}
			& p {
				padding: 10px 0;
				font-size: 1rem;
				@include _768 {
					font-size: 1.25rem;
				}
				line-height: 118.181818%;
			}
		}
	}

	// .product__characteristics

	&__characteristics {

		padding-top: 60px;
		
		@include _768 {
			padding-top: 85px;
		}
		
		@include _992 {
			padding-top: 85px;
		}

		// .product__characteristics--title

		&--title {
			color: var(--primary-color-1);
		}

		// .product__characteristics--text

		&--text {
			padding-top: 7px;
			@include _768 {
				padding-top: 17px;
			}
			& p {
				padding: 10px 0;
				font-size: 1rem;
				@include _768 {
					font-size: 1.125rem;
				}
				line-height: 118.181818%;
			}
		}

		& ul {
			padding-top: 23px;
			& li {
				font-size: 0.875rem;
				
				@include _768 {
					font-size: 1.75rem;
				}
				
				@include _992 {
					font-size: 1.125rem;
				}
				line-height: 116.666667%;
				display: flex;
				&::before {
					content: '•';
					margin-right: 5px;
				}
			}
		}
	}

	&__min-row {
		display: flex;
		align-items: center;
		flex-direction: column;

		padding-top: 30px;
		@include _768 {
			padding-top: 70px;
		}

		@include _992 {
			padding-top: 30px;
			flex-direction: row;
			flex-wrap: wrap;
		}

		@media (min-width: 1300px) {
			padding-top: 70px;
		}

		margin: -10px;

		& > * {
			padding: 10px;
		}
	}

	& .price._standard {
		@include _992 {
			padding-top: 0; padding-bottom: 0;
		}
	}

	&__min-block-title {
		display: inline-block;
		margin-bottom: 14px;
		font-size: 0.875rem;
		line-height: 114.285714%;
	}

	// .product__amount

	&__amount {

		&--body {
			display: grid;
			grid-template-columns: 35px auto 35px;
			max-width: 145px;
			@include _768 {
				grid-template-columns: 75px auto 75px;
				max-width: 302px;
			}
			@include _992 {
				grid-template-columns: 130px 55px;
				max-width: 192px;
			}
			
			gap: 5px;

			border: 3px solid var(--primary-color-1);

			padding: 5px;
		}

		& label {
			
			@include _992 {
				grid-column: 1; grid-row: 1/3;
			}
		}

		// .product__amount--input

		&--input {
			font-size: 1.375rem;
			text-transform: uppercase;
			color: var(--primary-color-1);
			line-height: 100%;
			text-align: center;
			font-weight: 900;
			width: 100%; min-height: 100%;
			
			@include _768 {
				font-size: 2.75rem;
			}
			
			@include _992 {
				font-size: 2rem;
			}
		}

		// .product__amount--arrow

		&--arrow {
			width: 36px; height: 36px;

			@include _768 {
				width: 75px; height: 75px;
			}

			@include _992 {
				width: 41px; height: 28px;
				&:nth-child(3) {
					grid-column: 2; grid-row: 1;
				}
			}

			display: flex;
			align-items: center;
			justify-content: center;
			
			background: var(--primary-color-1);
			fill: var(--white);

			transition: background .3s ease;

			&:nth-child(1) svg {
				transform: rotate(90deg);
				@include _992 {
					transform: none;
				}
			}

			&:nth-child(3) svg {
				transform: rotate(90deg);
				@include _992 {
					transform: none;
				}
			}

			& svg {
				width: 50%; height: 50%;
				@include _992 {
					width: 22px; height: 14px;
				}
			}

			&:hover {
				background: var(--primary-color-1-hover);
			}
			
			&:active {
				background: var(--primary-color-1-active);
			}
			
		}

		&._min &--body {
			grid-template-columns: 35px auto 35px;
			max-width: 143px;
			padding: 3px;
			@include _768 {
				grid-template-columns: 52px auto 52px;
				max-width: 208px;
				padding: 5px;
			}
			@include _992 {
				grid-template-columns: 54px 38px;
				max-width: 106px;
			}
		}

		&._min &--arrow {
			width: 36px; height: 36px;
			
			@include _768 {
				width: 52px; height: 52px;
			}

			@include _992 {
				width: 31px; height: 21px;
				&:nth-child(3) {
					grid-column: 2; grid-row: 1;
				}
			}
		}

		&._min &--input {

			font-size: 1.125rem;

			@include _768 {
				font-size: 1.75rem;
			}
			
			@include _992 {
				font-size: 1.125rem;
			}
		}
	}

	&__coupon {
		width: 100%;
		@include _768 {
			margin-top: 30px;
		}
		@include _992 {
			width: auto;
			margin-top: 0;
		}
		&--body {
			display: grid;
			grid-template-columns: 65% 35%;
			@include _992 {
				display: flex;
			}
		}

		&._applied {
			text-align: center;
			@include _992 {
				text-align: left;
			}
		}

		&._applied &--body {
			display: flex;
			justify-content: center;
			@include _992 {
				display: flex;
				justify-content: stretch;
			}
		}

		&._error &--input {
			border-color: red;
		}

		&._error &--error-message {
			opacity: 1; visibility: visible;
		}

		&--applied {
			display: inline-block;
			padding: 7px 18px;
			border-radius: 100px;
			background: var(--accent);
			color: var(--primary-color-1);
		}

		&--error-message {
			position: absolute;
			left: 0; bottom: -3px;
			transform: translate(0,100%);
			color: red;
			user-select: none; pointer-events: none;
			opacity: 0; visibility: hidden;
			transition: opacity .3s ease, visibility .3s ease;
		}

		&--label {
			display: flex;
			min-height: 43px;

			position: relative;
			
			@include _768 {
				min-height: 77px;
			}
			
			@include _992 {
				min-height: 77px;
			}
		}
		&--input {
			border: 3px solid var(--primary-color-1);
			color: var(--primary-color-1);
			font-weight: 900;
			font-size: 0.875rem;
			line-height: 118.75%;
			padding: 5px 10px;
			width: 100%;
			@include _768 {
				font-size: 1.75rem;
				padding: 15px 19px;
			}
			@include _992 {
				width: 242px;
				font-size: 2rem;
			}
			text-transform: uppercase;
			min-height: 100%;
			transition: border-color .3s ease;
			&::placeholder {
				font-size: 1.25rem;
			}
		}
		&--apply {
			font-weight: 900;
			font-size: 0.875rem;
			line-height: 122.222222%;
			text-align: center;
			text-transform: uppercase;
			color: var(--white);

			padding: 0 5px;

			@include _768 {
				font-size: 1.75rem;
			}

			@include _992 {
				width: 135px;
				font-size: 1.125rem;
			}

			background: var(--primary-color-1);
			transition: background .3s ease;
			
			&:hover {
				background: var(--primary-color-1-hover);
			}
			
			&:active {
				background: var(--primary-color-1-active);
			}
		}
	}

	&__out {
		&--text {
			display: block;
		}
	}

	&__price {
		display: flex;
		align-items: center;
		justify-content: center;

		@include _992 {
			justify-content: stretch;
			flex-direction: column;
			align-items: flex-start;
		}

		& .price {

			

			&._alt {
				
				padding: 5px 13px;

				@include _768 {
					padding: 15px 30px;
				}
				
				@include _992 {
					padding: 7px 25px;
				}
			}
			
			@include _992 {
				margin-top: 10px;
			}
		}
	}

	// .product__footer

	&__footer {

		padding-top: 30px;
		@include _768 {
			padding-top: 65px;
		}
		
		display: flex;
		flex-direction: column;
		@media (min-width: 1300px) {
			flex-wrap: wrap;
			flex-direction: row;
		}

		& > * {
			flex: 1 1 auto;
		}
	}

	&__buy {
		display: flex;
		flex-direction: column;
		margin: -5px; padding-top: 30px;
		@include _768 {
			margin: -11px; padding-top: 65px;
		}
		@include _992 {
			flex-direction: row;
			padding-top: 30px;
		}
		@media (min-width: 1300px) {
			padding-top: 0;
		}
	}

	// .product__btn

	&__btn {
		margin: 5px;

		@include _768 {
			margin: 11px;
		}
		
		@include _992 {
			max-width: 186px; width: 100%;
		}
	}

	&__about {
		margin-top: 38px;
		
		@include _768 {
			margin-top: 83px;
		}

		&--text {
			padding-top: 10px;
		}
		
		& p {
			padding-top: 20px;
		}
	}
}

@import "related-products";
