.footer {

	flex: 0 0 auto;
	background: var(--primary-color-1);

	padding-top: 75px; padding-bottom: 50px;

	@include _768 {
		padding-top: 145px; padding-bottom: 100px;
	}
	@include _992 {
		padding-top: 115px; padding-bottom: 80px;
	}

	// .footer__row

	&__row {

		display: grid;
		grid-template-columns: 100%;
		@include _992 {
			grid-template-columns: 45% auto;
		}

		&:not(:first-child) {
			margin-top: 35px;
			@include _768 {
				margin-top: 67px;
			}
		}

		// .footer__row--col

		&--col {
			display: flex;
			&._full {
				flex-direction: column;
				@include _992 {
					grid-column: 2 span;
				}
			}
			& > * {
				width: 100%;
			}
		}
	}

	// .footer__logo

	&__logo {

		// .footer__logo--img

		&--img {
			max-width: 175px;
			width: 100%;
			@include _768 {
				height: 70px; max-width: 273px;
			}
			@include _992 {
				max-width: 237px; height: initial;
			}
		}
	}

	// .footer__add

	&__intro {
		& ul {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
	
			margin: -15px;
	
			& li {
				margin: 15px;
				flex: 0 1 calc(50% - 30px);

				display: flex;
				justify-content: center;

				@include _550 {
					flex: 0 1 auto;
					display: block;
				}

				&:first-child {
					flex: 1 1 100%;
					text-align: center;
					@include _550 {
						flex: 1 1 auto;
						text-align: left;
					}
				}
				&:last-child {
					flex: 1 1 100%;
					@include _992 {
						flex: 0 1 auto;
					}
				}
				& .footer__search {
					width: 100%;
					@include _992 {
						width: 378px;
					}
				}
			}
		}
	}

	// .footer__cart

	&__cart {
		display: inline-flex;
	}

	// .footer__chat

	&__chat {
		display: inline-flex;
	}

	// .footer__search

	&__search {

		width: 100%; height: 42px;
		
		position: relative;

		// .footer__search--label

		&--label {
			display: flex;
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
		}

		// .footer__search--input

		&--input {
			width: 100%; height: 100%;
			border-radius: 50px;
			border: 3px solid var(--primary-color-2);
			background: transparent;
			color: var(--white);
			padding: 5px 40px 5px 20px;
		}

		// .footer__search--submit

		&--submit {
			position: absolute;
			right: 5px; top: 0;
			width: 40px; height: 100%;
			padding-top: 2.5px;
			background: transparent;
			fill: var(--white);
		}
	}

	// .footer__nav

	&__nav {
		& ul {
			
			display: grid;
			grid-template-columns: 45% auto;

			& a {
				display: inline-block;
				padding: 10px 0;
				font-weight: 900;
				font-size: 1.175rem;
				@include _768 {
					font-size: 1.25rem;
					padding: 20px 0;
				}
				
				@include _992 {
					font-size: 1.375rem;
				}
				line-height: 118.181818%;
				color: var(--primary-color-2);
				text-transform: uppercase;
				transition: color .3s ease;

				&:hover {
					color: var(--primary-color-2-hover);
				}
				
				&:active {
					color: var(--primary-color-2-active);
				}
			}
		}
	}

	// .footer__feedback

	&__feedback {

		position: relative;

		display: grid;
		grid-template-columns: 100%;
		gap: 16px;
		@include _768 {
			gap: 33px;
		}

		margin-top: 50px;

		@include _992 {
			grid-template-columns: 1fr 1fr;
			margin-top: 0;
			gap: 18px;
		}

		// .footer__feedback--label

		&--label {
			width: 100%;

			&:nth-child(1) {
				@include _992 {
					grid-column: 1; grid-row: 1;
				}
			}
			
			&:nth-child(2) {
				@include _992 {
					grid-column: 1; grid-row: 2;
				}
			}

			&:nth-child(3) {
				@include _992 {
					grid-column: 2; grid-row: 1/3;
				}
			}
		}

		// .footer__feedback--input

		&--input {
			
		}

		// .footer__feedback--textarea

		&--textarea {
			min-height: 150px; margin-bottom: -7px;
			
			@include _768 {
				min-height: 227px;
			}
			@include _992 {
				min-height: max(100%, 130px);
			}
		}

		// .footer__feedback--checkbox

		&--checkbox {
			
			@include _992 {
				grid-column: 1/3; grid-row: 4;
			}
			& .checkbox {
				&__element {
					border-color: var(--white);
					&::before {
						background: var(--primary-color-1);
					}
				}
				&__text {
					color: var(--white);
				}
			}
		}

		// .footer__feedback--submit

		&--submit {
			
			@include _992 {
				grid-column: 1/3; grid-row: 3;
				&._min {
					padding-top: 20px; padding-bottom: 18px;
				}
			}
		}

		&--message {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--light);

			padding: 25px;
			@include _768 {
				padding: 25px 25px 25px 77px;
			}
			color: var(--primary-color-1);

			transition: opacity .3s ease, visibility .3s ease;
			opacity: 0; visibility: hidden;

			&._show {
				opacity: 1; visibility: visible;
			}

			display: flex;
			flex-direction: column;

			&-close {
				display: inline-flex;
				align-items: center;

				align-self: self-end;

				background: transparent;

				color: var(--primary-color-1);

				& svg {
					width: 28px; height: 28px;
					fill: var(--primary-color-1);
					margin-left: 10px;
				}
			}

			& h3 {
				padding-top: 25px;
			}

			& p {
				padding-top: 20px;
			}
		}
	}

	// .footer__privacy

	&__privacy {
		border-top: 1px solid #FFFFFF;
		overflow: hidden;
		margin-top: 15px;
		@include _768 {
			margin-top: 28px;
		}
		@include _992 {
			border: 1px solid #FFFFFF;
			margin-top: 0;
		}
		& ul {
			display: flex;
			flex-wrap: wrap;
			margin: 0 -17.5px;
			
			padding: 30px 0 0 0;
			
			@include _992 {
				justify-content: space-evenly;
				padding: 12.5px 17.5px;
				margin: 0;
			}

			& li {

				flex: 0 1 50%;
				
				@include _992 {
					flex: 0 1 auto;
				}

				& a {
					display: inline-block;
					font-size: 0.75rem;
					padding: 12.5px 17.5px;
					@include _768 {
						font-size: 1.5rem;
						padding: 15px 17.5px;
					}
					@include _992 {
						font-size: 0.875rem;
						padding: 12.5px 17.5px;
					}
					font-weight: 900;
					line-height: 122.222222%;
					text-transform: uppercase;
					color: #FFFFFF;
					transition: color .3s ease;
					&:hover {
						color: rgba(255, 255, 255, 0.781);
					}
					
					&:active {
						color: rgba(255, 255, 255, 0.581);
					}
				}
			}
		}
	}

	// .footer__min-text

	&__min-text {
		display: block;
		max-width: 880px;
		margin-top: 30px;
		@include _550 {
			display: inline-block;
		}
		@include _768 {
			margin-top: 20px;
		}
		@include _992 {
			margin-top: 18px;
		}
		color: var(--white);
	}
}
