.header {

	position: static;
	left: 0; top: 0;
	width: 100%;
	padding-top: 25px; padding-bottom: 25px;

	@include _768 {
		padding-top: 47px; padding-bottom: 47px;
	}

	@include _992 {
		padding-top: 20px; padding-bottom: 20px;
		justify-content: center;
	}

	@media (min-width: 1300px) {
		justify-content: space-between;
		padding-top: 29px; padding-bottom: 29px;
	}

	@media (min-width: 1440px) {
		padding-top: 63px; padding-bottom: 63px;
	}

	background: var(--primary-color-2);

	//padding-right: var(--popup-padding) !important;

	//transform: translate(0, var(--pos));

	//transition: transform .2s ease;

	z-index: 99;

	display: flex;
	justify-content: space-between;
	//flex-wrap: wrap;
	align-items: center;

	// .header__logo

	&__logo {

		max-width: 105px;
		margin-right: 10px;

		@include _768 {
			max-width: 268px;
			margin-right: 0;
		}
		
		@include _992 {
			max-width: 236px;
			flex: 0 0 236px;
			margin-right: 40px;
		}

		@media (min-width: 1300px) {
			margin-right: 80px;
		}

		position: relative;
		z-index: 4;
		transform: translate3d(0,0,0);

		display: grid;

		// .header__logo--img

		&--img {
			grid-area: 1/1;
			transition: opacity .3s ease, visibility .3s ease;

			&:nth-child(2) {
				opacity: 0; visibility: hidden;
			}

			width: 100%;
		}
	}

	// .header__nav

	&__nav {

		position: absolute;
		left: 0; top: 0;
		width: 100%; height: var(--height-screen, 100vh);

		background: var(--primary-color-1);

		overflow-y: auto; overflow-x: hidden;

		opacity: 0; visibility: hidden;

		&._mob-menu-active {
			opacity: 1; visibility: visible;
		}

		transition: opacity .3s ease, visibility .3s ease;

		@include _992 {
			position: static;
			width: auto; height: auto;
			background-color: transparent;
			padding: 0;
			overflow: visible;

			opacity: 1; visibility: visible;
			flex: 1 1 100%;
		}

		@media (min-width: 1300px) {
			flex: 1 1 auto;
		}

		// .header__nav--body

		&--body {
			position: relative;
			padding: 105px 15px 30px 15px;

			display: flex;
			flex-direction: column;
			@include _992 {
				flex-direction: row;
				align-items: center;
				justify-content: flex-end;
			}

			&::before {
				content: '';
				position: fixed;
				left: 0; top: 0;
				width: 100%; height: 105px;
				background: var(--primary-color-1);
				z-index: 3;
			}

			@include _992 {
				padding: 0;
				&::before {
					display: none;
				}
			}
		}

		// .header__nav--list

		&--list {
			order: 2;

			display: flex;
			flex-wrap: wrap;
			align-items: center;

			height: 100%; padding-top: 30px;
			@include _768 {
				padding-top: 50px;
			}

			@include _992 {
				order: 1;

				align-items: stretch;

				margin: 7px -10px; padding-right: 30px;
				padding-top: 0;
				flex: 1 1 auto;
			}

			@media (min-width: 1300px) {
				flex: 1 1 auto;
				justify-content: stretch;
			}

			@media (min-width: 1440px) {
				margin: -13px; padding-right: 70px;
				flex: 0 1 auto;
			}
		}

		&--list li {
			flex: 0 1 50%;
			
			@include _992 {
				width: auto; flex: 0 1 auto;
			}

		}

		&--list li a {

			display: block;
			width: 100%;

			font-size: 1rem;
			@include _768 {
				font-size: 2rem;
				line-height: 150%;
			}
			font-weight: 900;
			line-height: 122.222222%;
			text-transform: uppercase;
			color: var(--primary-color-2);
			transition: color .3s ease;

			&:hover {
				color: var(--primary-color-2-hover);
			}
			
			&:active {
				color: var(--primary-color-2-active);
			}

			@include _992 {
				font-size: 1rem;
				width: auto;
				color: var(--primary-color-1);
				line-height: 122.222222%;
				&:hover {
					color: var(--primary-color-1-hover);
				}
				
				&:active {
					color: var(--primary-color-1-active);
				}
			}

			padding: 7px 10px;
			@media (min-width: 1440px) {
				padding: 13px;
				font-size: 1.125rem;
			}

		}

		&--account {
			order: 2;
			@include _992 {
				order: 1;
			}
		}

		// .header__nav--add

		&--add {
			order: 3;
			padding-top: 36px;
			@include _768 {
				padding-top: 56px;
			}
			@include _992 {
				order: 2;
				padding-top: 0;
				justify-content: stretch;
			}

			display: flex;
			align-items: center;
			justify-content: space-evenly;

			padding-right: 5px;

			@media (min-width: 1440px) {
				padding-right: 22px;
				margin: -10px;
			}

			& li {
				@media (min-width: 1440px) {
					padding: 10px;
				}
			}
		}

		// .header__nav--cart

		&--cart {
		}

		// .header__nav--message

		&--message {

			& .chat-btn {
				fill: var(--primary-color-1);
			}

			@include _992 {
				order: 2;
				
			}

			@media (min-width: 1440px) {
				order: initial;
			}
		}

		// .header__nav--search

		&--search {
			order: 1;
			margin-top: 10px;
			@include _768 {
				margin-top: 30px;
			}
			@include _992 {
				order: 3; margin-top: 0;
				min-width: 139px;
			}
		}
	}

	

	&__sale-week-filter {
		order: 2;
		padding-top: 20px;
	}

	&__add {
		order: 3;
		display: flex;
		justify-content: center;
		@include _992 {
			order: initial;
		}
	}

	&__account {
		display: flex;
		align-items: center;

		padding-right: 10px;
		@include _768 {
			padding-right: 20px;
		}

		@include _992 {
			width: 200px;
			flex-wrap: wrap;
		}

		@media (min-width: 1440px) {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;
			width: auto;
		}

		&--user {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 27px; height: 27px;
			& svg {
				width: 60%; height: 60%;
			}
			
			@include _768 {
				width: 54px; height: 50px;
				margin-right: 18px;
				& svg {
					width: 60%; height: 60%;
				}
			}
			
			@include _992 {
				width: 60px; height: 60px;
				margin-right: 25px;
				order: 1;
				& svg {
					width: 50%; height: 50%;
				}
			}

			

			@media (min-width: 1440px) {
				order: initial;
				margin-right: 11px;
			}

			border-radius: 50%;
			background: var(--accent);
			fill: var(--primary-color-1);
			margin-right: 9px;

			transition: background .3s ease;
			
			&:hover {
				background: var(--accent-hover);
			}
			
			&:active {
				background: var(--accent-active);
			}
		}

		&--cart {
			border-radius: 30px;
			height: 27px; padding: 0 6px;
			
			@include _768 {
				height: 50px;
				font-size: 1.75rem;
				padding: 0 12.5px;
			}
			
			@include _992 {
				height: 60px;
				font-size: 1.125rem;
				order: 3;
			}

			@media (min-width: 1440px) {
				order: initial;
			}

			background: var(--accent);
			transition: background .3s ease;
			
			&:hover {
				background: var(--accent-hover);
			}
			
			&:active {
				background: var(--accent-active);
			}

			display: flex;
			align-items: center;

			fill: var(--primary-color-1);
			color: var(--primary-color-1);
			font-size: 0.875rem;
			font-weight: 900;
			line-height: 116.666667%;
			& svg {
				margin-bottom: 3px;
				height: 50%; width: auto;
				@include _768 {
					height: 60%; width: auto;
				}
				@include _992 {
					height: 50%;
				}
			}

			& > * {
				margin: 0 3px;
				
				@include _768 {
					margin: 0 5px;
				}
				
				@include _992 {
					margin: 0 7.5px;
				}
			}
		}

		& &--cart {
			@include _992 {
				margin-top: 16px;
			}
			@media (min-width: 1440px) {
				margin-top: 0; margin-right: 20px;
			}
		}
	}

	/* &._search-focus &__account, &._search-focus &__add {
		opacity: 0;
	} */

	// .header__search

	&__search {

		width: 100%; height: 42px;

		@include _768 {
			height: 70px;
		}

		@include _992 {
			width: 114px; height: 35px;
		}

		@media (min-width: 1440px) {
			width: 144px;
		}

		position: relative;

		// .header__search--label

		&--label {
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;

			display: flex;
		}

		// .header__search--input

		&--input {
			width: 100%; height: 100%;
			border-radius: 130px;
			background: transparent;
			padding: 5px 60px 5px 15px;
			position: absolute;
			right: 0; top: 0;
			transition: width .3s ease;
			
			color: var(--white);
			font-weight: 900;

			border: 3px solid var(--primary-color-2);

			@include _768 {
				font-size: 1.75rem;
				padding: 5px 60px 5px 35px;
			}

			@include _992 {
				border: 0;
				padding: 5px 40px 5px 15px;
				background: var(--white);
				font-size: 0.875rem;
				color: var(--primary-color-1);
				&:focus {
					//width: calc(var(--width-header-nav) - 100px);
					width: 533px;
				}
			}

			@media (min-width: 1440px) {
				font-size: 1rem;
			}
		}

		// .header__search--submit

		&--submit {
			position: absolute;
			right: 5px; top: 0;
			z-index: 2;
			width: 40px; height: 100%;
			@include _768 {
				right: 20px;
				width: 70px;
			}
			padding-bottom: 2px;
			fill: var(--white);
			@include _992 {
				width: 40px; right: 0;
				fill: var(--primary-color-1);

				&:hover {
					fill: var(--primary-color-1-hover);
				}
				
				&:active {
					fill: var(--primary-color-1-active);
				}
			}
			background: transparent;

			display: flex;
			align-items: center;
			justify-content: center;

			& svg {
				width: 60%; height: 60%;
				transition: fill .3s ease;
			}
		}
	}

	&._searched &__search {
		margin-top: 15px;
		@include _768 {
			margin-top: 50px;
		}
		@include _992 {
			margin-top: 0;
		}
		&--submit {
			fill: var(--primary-color-1);
		}
		&--input {
			color: var(--primary-color-1);

			border: 0;
			font-size: 1rem;
			background: var(--white);

			@include _768 {
				font-size: 1.75rem;
			}

			@include _992 {
				border: 0;
				padding: 5px 40px 5px 15px;
				background: var(--white);
				font-size: 0.875rem;
				color: var(--primary-color-1);
				&:focus {
					//width: calc(var(--width-header-nav) - 100px);
					width: 533px;
				}
			}
		}
		@include _992 {
			width: 533px; height: 35px;
		}

		@media (min-width: 1440px) {
			width: 533px;
		}
	}

	&__account-place {
		z-index: 3;
		flex: 1 1 auto;
		display: flex;
		justify-content: flex-end;
		@include _992 {
			flex: 0 1;
		}
	}

	&__search-place {
		flex: 1 1 100%;
		position: relative;
		z-index: -1;
	}

	&__feedback {
		order: 3;

		padding-top: 50px;

		display: flex;
		flex-direction: column;

		&--label {
			width: 100%;
			padding: 8px 0;
			& > * {
				width: 100%;
			}
		}

		&--textarea {
			min-height: 110px; margin-bottom: -8px;
		}

		&--label .checkbox__text {
			color: var(--white);
		}

		&--submit {
			margin-top: 8px;
		}
	}

	// .header__burger

	&__burger {
		position: relative;
	
		width: 30px; height: 23px;
		@include _768 {
			width: 60px; height: 48px;
		}
		&::before {
			content: '';
			position: absolute;
			left: 50%; top: 50%;
			width: 150%; height: 150%;
			transform: translate(-50%,-50%);
		}
	
		background: transparent;
	
		z-index: 10;
	
		cursor: pointer;
	
		display: block;
		@include _992 {
			display: none;
		}
	
		& span {
			position: absolute;
			left: 0;
	
			width: 100%; height: 4px;
			@include _768 {
				height: 8px;
			}
			background: var(--primary-color-1);
			
			transition-duration: .3s;
			transition-timing-function: ease;
			transition-property: transform, top, opacity, visibility, background;
	
			&:nth-child(1) {
				top: 0%;
				transform: translate3d(0,0,0);
			}

			&:nth-child(2) {
				top: 50%;
				transform: translate3d(0, -50%, 0);
				opacity: 1; visibility: visible;
			}

			&:nth-child(3) {
				top: 100%;
				transform: translate3d(0, -100%, 0);
			}
		}

		&._mob-menu-active span {
			background: var(--white);
			&:nth-child(1) {
				top: 50%;
				transform: translate3d(0, -50%, 0) rotate(45deg);
			}

			&:nth-child(2) {
				opacity: 0; visibility: hidden;
			}

			&:nth-child(3) {
				top: 50%;
				transform: translate3d(0, -50%, 0) rotate(-45deg);
			}
	
		}
	}
}

body._mob-menu-active .header {
	&__logo {
		&--img {
			&:nth-child(1) {
				opacity: 0; visibility: hidden;
			}
			&:nth-child(2) {
				opacity: 1; visibility: visible;
			}
		}
	}

	&__nav--message .chat-btn {
		@include _768 {
			fill: var(--primary-color-2);
			&._notification::after {
				border-color: var(--primary-color-1);
			}
		}
	}
}
