@use 'sass:math';

html, body {
	font-size: 16px;
	min-height: 100%;
	min-width: 320px;
}

body {
	font-family: var(--main-font);
	
	font-weight: 400;
	line-height: 150%;

	display: flex;
	flex-direction: column;

	padding-right: var(--popup-padding);

	&._mob-menu-active {
		overflow: hidden;
	}

	&._popup-active {
		overflow: hidden;
	}
	
}

::selection {
	background: var(--accent-hover);
	color: var(--primary-color-1);
}

section {
	position: relative;
	z-index: 2;
}

.wrapper {
	min-height: 100%;

	display: flex;
	flex-direction: column;
}

.main {
	overflow: hidden;

	flex: 1 0 auto;
	position: relative;

	padding-bottom: 75px;
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	&._mob-padding-none {
		padding-left: 4px;
		padding-right: 4px;	
	}
	@media (min-width: 375px) {
		padding-left: var(--container-padding);
		padding-right: var(--container-padding);
		&._mob-padding-none {
			padding-left: 4px;
			padding-right: 4px;	
		}
	}

	@include _768 {
		&._large-padding {
			padding-left: 90px;
			padding-right: 90px;
		}
	}

	&._mob-padding-none {
		@include _768 {
			padding-left: 15px;
			padding-right: 15px;
		}
		@include _992 {
			padding-left: var(--container-padding);
			padding-right: var(--container-padding);
		}
	}
	
	&._in-section {
		padding-left: 0;
		padding-right: 0;
		margin: 0 calc(-15px + 4px);
		@media (min-width: 375px) {
			margin: 0 -42px;	
		}
		@include _768 {
			margin: 0 -95px;
		}
		@include _992 {
			margin: 0;
		}
	}

	&._super-large {
		padding-left: 15px;
		padding-right: 15px;
		@media (min-width: 375px) {
			padding-left: var(--container-padding);
			padding-right: var(--container-padding);
		}
		@include _768 {
			padding-left: var(--container-padding);
			padding-right: var(--container-padding);
			&._large-padding {
				padding-left: 90px;
				padding-right: 90px;
			}
		}
	}
	
	@media (min-width: #{$containerMin}px) {
		&._in-section {
			margin: 0;
		}

		padding-left: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));
		padding-right: max(var(--container-padding), calc(50% - #{math.div($container, 2)}px));

		&._large {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerLarge, 2)}px));
		}

		&._min {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerMin, 2)}px));
		}

		&._alt {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($container2, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($container2, 2)}px));
		}

		&._super-large {
			padding-left: max(var(--container-padding), calc(50% - #{math.div($containerSuperLarge, 2)}px));
			padding-right: max(var(--container-padding), calc(50% - #{math.div($containerSuperLarge, 2)}px));
		}
	}
}

.section-padding {
	padding-top: 75px;
	padding-bottom: 75px;

	@include _768 {
		padding-top: 100px;
		padding-bottom: 100px;
	}

	@include _992 {
		padding-top: 150px;
		padding-bottom: 150px;
	}

}

.btn {
	display: inline-block;
	text-align: center;
	
	padding: 16px 15px;
	font-size: 0.875rem;
	@include _550 {
		padding: 26px 46.5px;
		font-size: 1.125rem;
	}

	text-transform: uppercase;
	color: var(--primary-color-1);
	font-weight: 900;
	
	@include _768 {
		font-size: 1.75rem;
		padding: 30px 66.5px;
	}
	@include _992 {
		font-size: 1.125rem;
		padding: 26px 46.5px;
	}
	line-height: 122.222222%;

	background: var(--accent);
	&:hover {
		background: var(--accent-hover);
	}
	
	&:active {
		background: var(--accent-active);
	}

	&._mode-1 {
		background: var(--primary-color-1);
		color: var(--primary-color-2);

		&:hover {
			background: var(--primary-color-1-hover);
		}
		
		&:active {
			background: var(--primary-color-1-active);
		}
	}
	&._mode-2 {
		background: var(--primary-color-1);
		color: var(--white);

		&:hover {
			background: var(--primary-color-1-hover);
		}
		
		&:active {
			background: var(--primary-color-1-active);
		}
	}
	&._mode-3 {
		background: var(--primary-color-2);
		color: var(--primary-color-1);

		&:hover {
			background: var(--primary-color-2-hover);
		}
		
		&:active {
			background: var(--primary-color-2-active);
		}
	}
	&._min {
		padding: 12px 15px;
		@include _768 {
			padding: 30px 66.5px;
		}
		@include _992 {
			padding: 20px 16.5px;
		}
	}
	/* &._min-2 {
		padding: 15px;
		@include _550 {
			padding: 20px;
		}
	} */

	transition: color .2s ease-in-out, background .2s ease-in-out;
}

.price {
	background: var(--accent);
	font-weight: 900;
	color: var(--primary-color-1);
	border-radius: 50px;
	line-height: 100%;
	display: inline-block;

	font-size: 1rem;
	padding: 5px 10px;
	&._standard {
		padding-left: 0; padding-right: 0;
		color: var(--black);
		background: transparent;
	}

	@include _768 {
		font-size: 2rem;
		padding: 15px 30px;
	}
	
	@include _992 {
		font-size: 1.375rem;
		padding: 7px 17px;
	}

	&._alt {
		font-size: 1.375rem;
		padding: 10px 20px;
		@include _768 {
			font-size: 2rem;
			padding: 15px 30px;
		}
		
		@include _992 {
			font-size: 2rem;
			padding: 7px 25px;
		}
	}

	&._large {

		font-size: 1.5rem;
		padding: 10px 20px;

		@include _768 {
			font-size: 3.25rem;
			padding: 15px 30px;
		}
		
		@include _992 {
			font-size: 2.5rem;
			padding: 15px 30px;
		}
		box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);

		@media (min-width: 1300px) {
			font-size: 3.25rem;
			padding: 20px 60px;
		}
	}
}

.price-old {
	text-decoration: none;
	padding: 0 2px; margin-right: 8px;
	display: inline-block;
	position: relative;
	font-size: 0.875rem;
	
	@include _768 {
		font-size: 1.75rem;
		padding: 0 7px; margin-right: 8px;
	}
	
	@include _992 {
		font-size: 1.125rem;
	}

	&._alt {
		font-size: 1.125rem;
		
		@include _768 {
			font-size: 2.25rem;
		}
		
		@include _992 {
			font-size: 1.125rem;
			line-height: 119.444444%;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0; top: 50%;
		transform: translate(0,-50%);
		width: 100%; height: 1px;
		background: var(--black);
		pointer-events: none;
	}
}

.product-card {

	border: 3px solid var(--white);
	background: var(--white);
	padding: 30px 15px;
	position: relative;

	max-width: 768px;

	display: flex;
	flex-direction: column;

	transition: border-color .3s ease;
	&:hover {
		border-color: var(--primary-color-2);	
	}

	&._wide {
		@include _768 {
			padding: 60px 48px 80px 48px;
		}
		@include _992 {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 0 20px;
			padding: 30px 15px 35px 20px;
		}
		
		@media (min-width: 1200px) {
			padding: 50px 15px 35px 50px;
		}
	}

	&._wide &__category {
		@include _992 {
			grid-column: 1;
		}
	}

	&._wide &__title {
		@include _992 {
			grid-column: 1;
			max-width: 219px;
			padding-top: 0px;
		}
	}

	&._wide &__image {
		@include _992 {
			grid-column: 2; grid-row: 1/5;
			margin-top: 0;

			&--body {
				padding-top: 100%; min-height: 100%;
			}
		}
	}

	&._wide &__price {
		@include _992 {
			grid-column: 1; grid-row: 3;

			margin-top: 30px; padding-right: 30px;

			width: 100%;

			align-self: self-end;
			justify-self: self-start;
		}
		& .price {
			background: transparent;
			color: var(--black);
			padding: 0;
		}
	}

	&._wide &__btn {
		@include _992 {
			grid-column: 1; grid-row: 4;
			align-self: self-end;
			margin-top: 20px;
			max-width: 270px;
		}
	}

	// .product-card__category

	&__category {
		font-size: 0.875rem;
	}

	// .product-card__title

	&__title {
		padding-top: 15px;
		color: var(--primary-color-1);
	}

	// .product-card__image

	&__image {

		margin-top: 40px;
		flex: 1 1 auto;

		display: flex;
		align-items: center;

		// .product-card__image--body

		&--body {
			width: 100%; padding-top: 125%;
			position: relative;

			& img {
				position: absolute;
				left: 0; top: 0;
				width: 100%; height: 100%;
				object-fit: contain;
			}
		}
	}

	// .product-card__price

	&__price {
		z-index: 2;

		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-end;
	}

	// .product-card__btn

	&__btn {
		width: 100%;
		margin-top: 13px;
		
		@include _768 {
			margin-top: 35px;
		}
		
		@include _992 {
			margin-top: 28px;
		}
	}
}

.cart-btn {
	padding: 10px 15px 10px 15px;
	@media (min-width: 1440px) {
		padding: 15px 25.5px 18px 25.5px;
	}
	background: var(--accent);
	transition: background .3s ease;
	&:hover {
		background: var(--accent-hover);
	}
	
	&:active {
		background: var(--accent-active);
	}
	border-radius: 30px;

	display: flex;
	align-items: center;

	fill: var(--primary-color-1);
}

.chat-btn {
	display: flex;
	align-items: center;
	
	position: relative;
	margin: 15px 20px 10px 20px;

	fill: var(--primary-color-2);
	@include _992 {
		fill: var(--primary-color-1);
		&._alt {
			fill: var(--primary-color-2);
		}
	}

	& svg {
		width: 37px; height: auto;

		@include _768 {
			width: 71px;
		}
		
		@include _992 {
			width: 24px;
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 50%; top: 50%;
		transform: translate(-50%,-50%);
		width: calc(100% + 30px); height: calc(100% + 40px);

	}

	&._notification::after {
		content: '';
		position: absolute;
		right: 0; top: 0;
		transform: translate(50%,-50%);
		width: 22px; height: 22px;
		@include _768 {
			width: 48px; height: 48px;
		}
		border-radius: 50%;
		border: 2px solid var(--primary-color-1);
		@include _992 {
			width: 15px; height: 15px;
			border: 2px solid var(--primary-color-2);
		}
		background: var(--accent);
	}

	&._alt {
		width: 20px; height: auto;

		@include _768 {
			width: 41px;
		}
		
		@include _992 {
			width: 24px;
		}
	}

	&._alt._notification::after {
		border: 2px solid var(--primary-color-1);
		width: 12px; height: 12px;
		@include _768 {
			width: 24px; height: 24px;
		}
		@include _992 {
			border: 2px solid var(--primary-color-1);
			width: 15px; height: 15px;
		}
	}
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.page-address {
	margin-top: 76px;

	& a:not(:first-child)::before {
		content: '/';
		font-weight: 900;
		color: var(--primary-color-1);
	}

	& a {
		color: var(--primary-color-1);
		transition: color .3s ease;
		&:hover {
			color: var(--primary-color-1-hover);
		}
		
		&:active {
			color: var(--primary-color-1-active);
		}

		font-size: 0.75rem;
		
		@include _768 {
			font-size: 1.5rem;
		}
		
		@include _992 {
			font-size: 0.875rem;
		}
		text-transform: uppercase;
		line-height: 125%;
		font-weight: 900;
	}
}

.loadmore {
	display: inline-block;
	color: var(--primary-color-1);
	font-family: var(--title-font);
	font-weight: 900;
	line-height: 120.833333%;
	text-transform: uppercase;
	background: transparent;
	padding: 15px 30px;

	@include _550 {
		font-size: 1.75rem;
	}
	
	@include _992 {
		font-size: 1.125rem;
	}

	transition: color .3s ease;
	&:hover {
		color: var(--primary-color-1-hover);
	}
	
	&:active {
		color: var(--primary-color-1-active);
	}
}

.visible-on-mob {
	@include _768 {
		display: none;
	}
}

.hide-on-tablet {
	@include _992 {
		display: none;
	}
}

.visible-on-tablet {
	@include _992 {
		display: none;
	}
}

.article-time {
	display: inline-block;
	align-self: self-start;
	border-radius: 50px;
	padding: 5px 15px;
	background: var(--accent);

	font-size: 0.75rem;
	@include _768 {
		font-size: 1.5rem;
		padding: 5px 20px;
	}
	
	@include _992 {
		font-size: 0.875rem;
		padding: 5px 10px;
	}
	line-height: 121.428571%;
	color: var(--primary-color-1);
}

.block-accent {
	position: relative;
	&::before {
		content: '';
		position: absolute;
		left: 50%; top: 0;
		transform: translate(-50%,0);
		width: calc(100% - 8px + (var(--container-padding) * 2)); height: 100%;
		background: var(--light);
		z-index: -1;
	}
	
	padding: 54px 15px;
	@media (min-width: 375px) {
		padding: 54px 5px;
	}

	@include _768 {
		padding: 93px 13px;
		&::before {
			width: calc(100% - 30px + (var(--container-padding) * 2));
		}
	}

	@include _992 {
		padding: 80px;
		background: var(--light);
		&::before {
			display: none;
		}
	}
}
