.popup {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;

	padding: 4px;
	@include _768 {
		padding: 10px;
	}

	z-index: 100;

	opacity: 0;
	visibility: hidden;

	perspective: 400px;

	&._transition-none {
		transition: none;
	}

	&._transition-none &-body {
		transition: none;
	}

	&._active._transition-none &-body {
		transition: none;
	}

	will-change: opacity;

	&._active {
		opacity: 1;
		visibility: visible;
	}

	/* &._active &-body {
		transform: translate3d(0, 0, 0);
		transition: transform 0.3s ease;
	} */

	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;

		min-height: 100%;
		width: 100%;

		z-index: 2;
	}
	&-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: var(--light);

		opacity: 0.85;
		///cursor: pointer;
	}
	&-body {
		margin: auto;
		position: relative;
		background: white;

		/* transform: translate3d(0, 15px, 0);
		transition: transform 0.4s ease; */

		overflow-y: auto;
		max-height: calc(var(--height-screen) - 30px);
		max-width: 620px;
		padding: 50px 0;
		@include _768 {
			padding: 70px 0;
		}
		@include _992 {
			padding: 0;
		}
		width: 100%;

		border-radius: 0;

		z-index: 2;
	}
	&-close-btn {
		position: absolute;
		right: 30px; top: 0;
		line-height: 100%;
		width: 35px; height: 35px;
		@include _768 {
			width: 60px; height: 60px;
		}
		@include _992 {
			display: none;
		}

		& svg {
			width: 100%; height: 100%;
			fill: var(--primary-color-1);
		}

		background: transparent;
	}
}

.page-loaded .popup {
	transition: opacity 0.4s ease, visibility 0.4s ease;
}

.login-popup {

	// .login-popup__wrapper

	&__wrapper {
	}

	// .login-popup__bg

	&__bg {
	}

	// .login-popup__close-btn

	&__close-btn {
	}

	// .login-popup__body

	&__body {
		background: transparent;
	}

	// .login-popup__header

	&__header {

		display: flex;
		flex-wrap: wrap;

		// .login-popup__header--btn

		&--btn {
			flex: 0 1 50%;
			text-align: center;
			font-weight: 900;
			
			font-size: 1rem;
			@include _768 {
				font-size: 2rem;
				padding: 30px 23px;
			}
			
			@include _992 {
				padding: 23px;
				font-size: 1.375rem;
			}
			text-transform: uppercase;
			background: transparent;

			padding: 23px;
			display: inline-block;

			color: var(--primary-color-1);

			transition: background .3s ease, color .3s ease;
			&._active {
				pointer-events: none;
				background: var(--primary-color-1);
				color: var(--white);
			}

			&:hover {
				color: var(--white);
				background: var(--primary-color-1-hover);
			}
			
			&:active {
				background: var(--primary-color-1-active);
			}

			@include _768 {
			
			}
			
			@include _992 {
				font-size: 1.375rem;
			}
		}
	}

	// .login-popup__form

	&__form {
		padding: 38px;
		
		@include _768 {
			padding: 75px 80px;
		}
		
		@include _992 {
			padding: 75px 80px;
		}
		margin-top: -1px;
		background: var(--primary-color-1);

		display: flex;
		flex-direction: column;

		& > *:not(:first-child) {
			margin-top: 20px;
		}
	}

	// .login-popup__label

	&__label {
		display: flex;
	}

	// .login-popup__input

	&__input {
		width: 100%;
		border: 0;
	}

	// .login-popup__submit

	&__submit {
	}
}

.sign {

	// .sign__wrapper

	&__wrapper {
	}

	// .sign__bg

	&__bg {
	}

	// .sign__body

	&__body {
		max-width: 940px;
		background: transparent;
	}

	// .sign__close-btn

	&__close-btn {
	}

	// .sign__block

	&__block {

		padding: 30px 20px;

		@media (min-width: 375px) {
			padding: 40px 37px;
		}
		
		background: var(--primary-color-1);

		display: grid;
		grid-template-columns: 100%;
		gap: 10px;

		@include _768 {
			padding: 81px 77px;
			gap: 22px;
		}

		@include _992 {
			padding: 77px 80px;
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}
		

		// .sign__block--col

		&--col {
			display: flex;
			flex-direction: column;

			margin-top: -10px;
				
			@include _768 {
				margin-top: -22px;
			}
			
			@include _992 {
				margin-top: -20px;
			}
			
			& > * {
				margin-top: 10px;
				
				@include _768 {
					margin-top: 22px;
				}
				
				@include _992 {
					margin-top: 20px;
				}
			}
		}
	}

	// .sign__element

	&__element {

		padding: 20px 23px;
		
		@include _768 {
			padding: 45px 40px;
		}
		
		@include _992 {
			padding: 28px 30px;
		}
		background: var(--primary-color-2);
		color: var(--primary-color-1);

		&._accent {
			background: var(--accent);
		}

		// .sign__element--header

		&--header {
			display: flex;
			align-items: center;

			font-weight: 900;
			line-height: 122.222222%;
			font-size: 1rem;
			text-transform: uppercase;
			
			@include _768 {
				font-size: 2rem;
			}
			
			@include _992 {
				font-size: 1.125rem;
			}

			& svg {
				margin-right: 18px;
				fill: var(--primary-color-1);
			}
		}

		// .sign__element--name

		&--name {
			font-weight: 900;
			color: var(--primary-color-1);
		}
	}

	// .sign__item

	&__item {
		padding-top: 18px;

		display: flex;
		transition: padding .3s ease;
		position: relative;
		z-index: 2;

		&._error {
			padding-bottom: 50px;
			
			@include _768 {
				padding-bottom: 50px;
			}
			
			@include _992 {
				padding-bottom: 40px;
			}
		}
	}

	&__item._error &__label {
		border-color: red;
	}

	&__item._error &__error {
		opacity: 1; visibility: visible;
	}

	&__error {
		position: absolute;
		left: 0; bottom: 0;

		user-select: none; pointer-events: none;

		transition: opacity .15s ease, visibility .15s ease;
		opacity: 0; visibility: hidden;
		z-index: -1;

		display: flex;
		align-items: center;

		fill: red;
		color: red;

		& svg {
			margin-right: 10px;
		}

		font-size: 0.875rem;
		line-height: 122%;
		
		@include _768 {
			font-size: 1.75rem;
		}
		
		@include _992 {
			font-size: 1.125rem;
		}
	}

	// .sign__label

	&__label {
		flex: 1 1 auto;
		display: flex;

		background: var(--white);
		border: 2px solid var(--white);
		@include _768 {
			border: 3px solid var(--white);
		}
		transition: border-color .2s ease;
		
		//grid-template-columns: repeat(auto-fill, auto);
	}

	&__input-wrapper {
		display: block;
		position: relative;
		height: 45px;
		
		@include _768 {
			height: 95px;
		}
		
		@include _992 {
			height: 61px;
		}
		flex: 1 1 auto;
	}

	// .sign__input

	&__input {
		position: absolute;
		left: 0; top: 0;
		width: 100%; height: 100%;
	}

	// .sign__min-submit

	&__min-submit {
		position: relative;

		display: flex;
		align-items: center;
		justify-content: center;
		width: 44px;
		
		@include _768 {
			width: 93px;
		}
		
		@include _992 {
			width: 60px;
		}

		fill: var(--white);

		transition: background .3s ease;
		background: var(--primary-color-1);

		&:hover {
			background: var(--primary-color-1-hover);
		}
		
		&:active {
			background: var(--primary-color-1-active);
		}

		& svg {
			width: 40%; height: 40%;
		}
	}

	// .sign__submit

	&__submit {
		width: 100%;
	}

	&__btn {
		text-align: center;
		text-transform: uppercase;
		font-weight: 900;
		color: var(--white);
		text-decoration: underline;
		display: block;
		padding: 15px;
	}
}

