.guarantee {

	padding-top: 55px; padding-bottom: 40px;

	@include _768 {
		padding-top: 75px; padding-bottom: 80px;
	}

	&._primary-color-bg {
		background: var(--primary-color-1);
		color: var(--white);
		margin-top: 55px; margin-bottom: 40px;
		padding-top: 50px; padding-bottom: 50px;

		@include _768 {
			margin-top: 75px; margin-bottom: 80px;
			padding-top: 145px; padding-bottom: 145px;
		}
	}

	&._primary-color-bg &__title, &._primary-color-bg &__content, &._primary-color-bg &__list h3 {
		color: var(--white);
	}

	// .guarantee__intro

	&__intro {
		display: flex;
		align-items: center;
		flex-direction: column;

		@include _992 {
			flex-direction: row;
		}

		@media (min-width: #{$container}px) {
			padding: 0 100px;
		}
	}

	// .guarantee__image

	&__image {
		max-width: 150px;
		@include _992 {
			flex: 0 1 30%;
			max-width: none;
		}
		& img {
			max-width: 100%;
		}
	}

	// .guarantee__content

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;

		color: var(--primary-color-1);
		@include _992 {
			flex: 0 1 70%;
			
		}
	}

	// .guarantee__title

	&__title {
		max-width: 643px;
		padding-top: 20px;
		text-align: center;
		@include _992 {
			padding-top: 0;
			text-align: left;
		}
	}

	// .guarantee__text

	&__text {
		max-width: 780px;

		padding-top: 30px;
		text-align: left;

		& p {
			padding: 10px 0;
		}
	}

	// .guarantee__line

	&__line {
		margin-top: 54px;
		@include _768 {
			margin-top: 125px;
		}
		height: 3px;
		background: var(--primary-color-2);
	}

	// .guarantee__list

	&__list {
		display: grid;
		grid-template-columns: 100%;
		padding-top: 64px;
		gap: 40px 33px;
		@include _768 {
			padding-top: 143px;
			gap: 85px 33px;
		}
		@include _992 {
			grid-template-columns: 1fr 1fr;
		}
		
		

		& li {
			display: block;
			
			position: relative;
			&::before {
				content: '';
				position: absolute;
				left: 0; top: 0;
				display: block;
				flex: 0 0 17px; width: 17px; height: 17px;
				@include _768 {
					flex: 0 0 35px; width: 35px; height: 35px;
					top: -5px;
				}
				border-radius: 50%;
				background: var(--primary-color-2);
			}
		}

		& h3 {
			padding-bottom: 15px; padding-left: 35px;
			@include _768 {
				padding-bottom: 20px; padding-left: 60px;
			}
			@include _992 {
				padding-bottom: 30px; padding-left: 60px;
			}
		}

		& p {
			padding-left: 35px;
			@include _768 {
				padding-left: 60px;
			}

			@include _992 {
				padding-top: 15px;
			}
			
		}
	}
}
