.reviews {

	padding-top: 55px; padding-bottom: 40px;

	@include _768 {
		padding-top: 75px; padding-bottom: 80px;
	}

	&._alt-reviews {
		position: relative;
		
		margin-top: 55px; margin-bottom: 40px;

		@include _768 {
			margin-top: 75px; margin-bottom: 80px;
		}
		
		&::before {
			content: '';
			position: absolute;
			left: 50%; top: 0;
			transform: translate(-50%,0);
			width: #{$containerSuperLarge}px; height: 100%;
			background: var(--light);
			z-index: -1;
		}
	}

	

	// .reviews__title

	&__title {
	}

	// .reviews__list

	&__list {
		padding-top: 58px;

		display: grid;
		gap: 40px 0;
		@include _768 {
			gap: 83px 20px;
		}
		grid-template-columns: 100%;
		@include _992 {	
			grid-template-columns: 1fr 1fr;
		}

		@media (min-width: 1200px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}

	// .reviews__item

	&__item {
		display: flex;
		flex-direction: column;
	}

	// .reviews__comment

	&._alt-reviews &__comment {
		border-color: var(--white);
		&::after {
			filter: none;
		}
	}

	&__comment {
		flex: 1 1 auto;
		width: 100%;

		border: 3px solid var(--primary-color-2);
		padding: 15px;
		@include _768 {
			padding: 23px 33px 23px 13px;
		}

		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background: var(--white);
			z-index: -1;
		}

		&::after {
			content: '';
			position: absolute;
			left: 10px; bottom: 1px;
			border-left: 17px solid transparent;
			border-right: 17px solid transparent;
			border-top: 23px solid var(--white);
			transform: translate(0,100%);
			filter: drop-shadow(2px 2px 0 var(--primary-color-2)) drop-shadow(-2px 2px 0 var(--primary-color-2));
		}
		
	}

	// .reviews__rating

	&__rating {

		&[data-rating="5"] li:nth-child(-n + 5) {
			fill: var(--accent);
		}

		&[data-rating="4"] li:nth-child(-n + 4) {
			fill: var(--accent);
		}

		&[data-rating="3"] li:nth-child(-n + 3) {
			fill: var(--accent);
		}

		&[data-rating="2"] li:nth-child(-n + 2) {
			fill: var(--accent);
		}

		&[data-rating="1"] li:nth-child(-n + 1) {
			fill: var(--accent);
		}

		& ul {
			display: flex;
			flex-direction: row-reverse;

			& li {
				fill: var(--primary-color-1);
			}
		}
	}

	// .reviews__text

	&__text {
		padding-top: 15px; padding-bottom: 15px;
		font-size: 1rem;
		@include _768 {
			padding-bottom: 40px;
			
		}
	}

	// .reviews__person

	&__person {
		margin-top: 47px;

		display: flex;
		align-items: center;
	}

	// .reviews__avatar

	&__avatar {
		margin-right: 18px;
		& img {
			border-radius: 50%;
			width: 60px; height: 60px;
			@include _768 {
				width: 139px; height: 139px;
			}
			@include _992 {
				width: 60px; height: 60px;
			}
			object-fit: cover;
		}
	}

	// .reviews__name

	&__name {
		font-size: 0.875rem;
		@include _992 {
			font-size: 0.875rem;
		}
		line-height: 121.428571%;
	}
}
