.text-section {
	padding-top: 48px;
	@include _768 {
		padding-top: 118px;
	}

	& h2 {
		color: var(--primary-color-1);
		padding-bottom: 20px;
		@include _768 {
			padding-bottom: 80px;
		}
	}

	& p {
		font-size: 0.875rem;
		line-height: 120%;
		@include _768 {
			font-size: 1.75rem;
		}
		@include _992 {
			font-size: 1.125rem;
		}
		
		padding-top: 20px;
	}
}
