.account-details {

	// .account-details__get-phone-code

	&__get-phone-code {

		display: flex;

		// .account-details__get-phone-code--label

		&--label {
			flex: 0 1 50%;
		}

		// .account-details__get-phone-code--input

		&--input {
			width: 100%;
			background: var(--white);
			border: 2px solid var(--primary-color-1);
			@include _768 {
				border: 3px solid var(--primary-color-1);
			}
			&::placeholder {
				text-transform: none;
			}
		}

		// .account-details__get-phone-code--btn

		&--btn {
			flex: 0 1 50%;
			padding: 10px;
			color: var(--white);

			background: var(--primary-color-1);
			transition: background .3s ease;

			&:hover {
				background: var(--primary-color-1-hover);
			}
			
			&:active {
				background: var(--primary-color-1-active);
			}
			
		}
	}
}
