.order-details {

	// .order-details__list

	&__list {
		display: grid;
		gap: 30px 0;
	}

	// .order-details__block

	&__block {

		// .order-details__block--body

		&--body {
			position: relative;
			padding: 32px 0;
			&::before {
				content: '';
				position: absolute;
				left: 50%; top: 0;
				transform: translate(-50%,0);
				background: var(--light);
				width: calc(100% - 8px + 30px); height: 100%;
				z-index: -1;
			}

			@media (min-width: 375px) {
				&::before {
					width: calc(100% - 8px + 84px);
				}
			}

			@include _768 {
				padding: 32px 43px;
				&::before {
					width: calc(100% - 20px + 84px);
				}
			}

			@include _992 {
				padding: 32px 80px;
				background: var(--light);
				&::before {
					display: none;
				}
			}
		}

		// .order-details__block--header

		&--header {
			padding-top: 31px; padding-bottom: 10px;

			display: grid;

			@media (min-width: 1500px) {
				grid-template-columns: auto minmax(75px, 16%) minmax(90px, 10%) minmax(100px, 12%) 150px;
			}

			& > * {
				display: none;
				&:nth-child(1) {
					display: inline-block;
				}
				@media (min-width: 1500px) {
					display: inline-block;
				}
				&:nth-child(2), &:nth-child(3) {
					text-align: center;
				}
			}

		}

		// .order-details__block--list

		&--list {
			border-top: 3px solid var(--primary-color-1);
			border-bottom: 3px solid var(--primary-color-1);
		}

		// .order-details__block--footer

		&--footer {
		}
	}

	// .order-details__date

	&__date {
		padding: 22px 0;
		
		@include _768 {
			padding: 22px 43px;
		}
		
		@include _992 {
			padding: 22px 80px;
		}
		color: var(--primary-color-1);
	}

	// .order-details__number

	&__number {
		color: var(--primary-color-1);
	}

	// .order-details__product

	&__product {

		padding: 28px 0;
		
		@include _768 {
			padding: 60px 0;
		}
		
		@include _992 {
			padding: 30px 0;
		}

		position: relative;
		&:not(:first-child)::after {
			content: '';
			position: absolute;
			left: 0; top: 0;
			width: 100%; height: 1px;
			background: var(--primary-color-1);
		}

		
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		@include _992 {
			& > * {
				align-self: center;
			}
		}
		@media (min-width: 1500px) {
			grid-template-columns: auto minmax(75px, 16%) minmax(90px, 10%) minmax(100px, 12%) 150px;
		}

		

		// .order-details__product--info

		&--info {
			grid-column: 1/4;
			padding-bottom: 20px;

			display: grid;
			grid-template-columns: 74px auto;
			padding-right: 15px;

			@include _768 {
				grid-template-columns: 177px auto;
			}

			@media (min-width: 1500px) {
				grid-column: auto;
				padding-bottom: 0;
			}

			color: var(--black);
		}

		// .order-details__product--image

		&--image {

			padding-right: 20px;
			grid-column: 1; grid-row: 1/5;

			& img {
				width: 100%; height: auto;
				background: var(--white);
				object-fit: contain;
			}
		}

		// .order-details__product--category

		&--category {
		}

		// .order-details__product--title

		&--title {
			color: var(--primary-color-1);
			padding-top: 6px;
		}

		// .order-details__product--text

		&--text {
			padding-top: 15px;
		}

		// .order-details__product--element

		&--element {
			display: flex;
			align-items: center;
			flex-direction: column;

			padding-right: 20px;
		}

		// .order-details__product--element-name

		&--element-name {
			display: block;
			margin-bottom: 10px;
			@media (min-width: 1500px) {
				display: none;
			}
		}

		// .order-details__product--price

		&--price {
			display: flex;
			align-items: center;
			flex-direction: column;

			@media (min-width: 1600px) {
				flex-direction: row;
			}
			& .price-old {
				font-size: 0.75rem;
				
				@include _768 {
					font-size: 1.5rem;
				}
				
				@include _992 {
					font-size: 0.875rem;
				}
			}
			& .price {
				font-size: 0.875rem;
				padding: 3px 0;
				background: transparent;
				
				@include _768 {
					font-size: 1.75rem;
					padding: 3px 0;
				}
				
				@include _992 {
					font-size: 1.125rem;
					padding: 0;
				}
			}
		}

		// .order-details__product--quantity

		&--quantity {
			color: var(--primary-color-1);
			text-transform: uppercase;
			font-weight: 900;
		}

		// .order-details__product--shipping

		&--shipping {
			color: var(--primary-color-1);
			font-weight: 900;
			text-align: right;
			@include _992 {
				text-align: left;
			}
		}

		// .order-details__product--status

		&--status {
			color: var(--primary-color-1);
			text-transform: uppercase;
			font-weight: 900;

			grid-column: 2;
			text-align: center;
			padding-top: 20px;

			@media (min-width: 1500px) {
				grid-column: auto;
				padding-top: 0;
				text-align: left;
			}

		}
	}

	// .order-details__total

	&__total {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include _992 {
			justify-content: flex-end;
			padding-right: 13%;
		}
		padding-top: 30px;
		& b {
			color: var(--primary-color-1);
			padding-right: 15px;
			@include _768 {
				padding-right: 60px;
			}
		}

		& .price-old {
			font-size: 1rem;
			
			@include _768 {
				font-size: 2rem;
				margin-right: 30px;
			}
			
			@include _992 {
				font-size: 1.125rem;
				margin-right: 20px;
			}
		}

		& .price {
			font-size: 1.375rem;
			
			@include _768 {
				font-size: 2.75rem;
			}
			
			@include _992 {
				font-size: 2rem;
			}
		}
	}
}
