.settings {

	display: grid;
	gap: 44px 0;

	// .settings__block

	&__block {

	}

	// .settings__title

	&__title {
		color: var(--primary-color-1);
		width: 100%; flex: 1 1 100% !important;
		
		padding-bottom: 16px; padding-top: 10px;
		
		@include _768 {
			padding-bottom: 40px; padding-top: 0;
		}
		
		@include _992 {
			padding-bottom: 50px;
		}
	}

	// .settings__form

	&__form {
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;

		margin: -6px;
		@include _768 {
			margin: -12px;
		}

		@include _992 {
			margin: -10px;
		}
	}

	// .settings__item

	&__item {
		padding: 6px;
		
		@include _768 {
			padding: 12px;
		}
		
		@include _992 {
			padding: 10px;
		}

		flex: 1 1 100%;
		@media (min-width: 1100px) {
			flex: 0 1 50%;
			
		}
		@media (min-width: 1440px) {
			flex: 0 1 33.333%;
		}

		&._full {
			flex: 1 1 100%;

			display: flex;
			flex-wrap: wrap;

			& > * {
				
				@media (min-width: 1100px) {
					flex: 0 1 calc(50% - 10px);
				}
				@media (min-width: 1440px) {
					flex: 0 1 calc(33.333% - 13px);
				}
			}
		}
		
	}

	// .settings__label

	&__label {
		border: 2px solid var(--primary-color-1);
		@include _768 {
			border: 3px solid var(--primary-color-1);
		}
		display: inline-flex;
		width: 100%;
	}

	// .settings__input

	&__input {
		flex: 1 1 auto;
		background: var(--white);
		padding: 15px 13px;
		
		font-size: 0.75rem;
		color: var(--primary-color-1);
		font-weight: 900;
		line-height: 121.428571%;
		text-transform: uppercase;
		
		@include _768 {
			padding: 27px 32px;
			font-size: 1.5rem;
		}
		
		@include _992 {
			padding: 26px 23px;
			font-size: 0.875rem;
		}

		&._large {
			font-size: 1rem;
			@include _768 {
				padding: 27px 32px;
				font-size: 2rem;
			}
			
			@include _992 {
				padding: 20.5px 23px;
				font-size: 1.375rem;
			}
		}

		&::placeholder {
			font-weight: 400;
			color: var(--primary-color-1);
			opacity: 1;
			transition: opacity .3s ease;
		}

		&:focus::placeholder {
			opacity: 0;
		}
	}

	// .settings__btn

	&__btn {
		width: 100%;
	}

	// .settings__password-toggle

	&__password-toggle {
	}
}

