.hero {

	padding-top: 25px; padding-bottom: 25px;
	margin-bottom: 25px; margin-top: -1px;

	@include _768 {
		padding-top: 50px; padding-bottom: 50px;
		margin-bottom: 85px;
	}

	display: flex;
	flex-direction: column;

	@include _992 {
		flex-wrap: wrap;
		justify-content: space-between;
		flex-direction: row;

		padding-top: 100px; padding-bottom: 100px;
		min-height: var(--height-screen-2);
	}

	background: var(--primary-color-2);

	// .hero__content

	&__content {
		flex: 1 1 auto;
		align-self: self-end;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		@include _992 {
			flex: 0 1 60%;
			align-self: self-start;
		}
		@media (min-width: 1300px) {
			flex: 0 1 45%;
			padding-left: 100px;
		}
	}

	// .hero__title

	&__title {
		color: var(--primary-color-1);
	}

	// .hero__product

	&__product {
		
		position: relative;
		

		display: flex;
		align-items: center;

		aspect-ratio: 10/7;

		@include _992 {
			aspect-ratio: 10/5;
			align-self: self-end;
		}

		flex: 0 1 40%;
		@media (min-width: 1300px) {
			flex: 0 1 55%;
		}

		& img {
			width: 100%; height: auto;
			max-width: 680px;
		}

		// .hero__product--price

		&--price {
			position: absolute;
			right: 0; top: 50%;
			transform: translate(0,-50%);
		}
	}

	// .hero__footer

	&__footer {
		
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex: 1 1 auto;

		@include _992 {
			flex: 1 1 100%;
			padding-top: 68px;
			align-self: self-start;
			justify-content: stretch;
		}

		
		@media (min-width: 1300px) {
			padding-left: 100px;
		}
	}

	// .hero__btn

	&__btn {
		width: 100%;
		@include _768 {
			width: auto;	
		}
	}
}
